body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  background-color: rgb(119, 67, 49);
  color: white;
}

.header {
  background-color: #995832;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}

.header__left {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__title {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 2rem;
}

.header__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-item {
  margin-right: 2rem;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.header__search-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  border-radius: 50px;
}

.header__search-button {
  background-color: #380909;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #944403;
  min-width: 500px;
  padding: 3rem;
  z-index: 1;
  margin-top: 1.8rem;
  border: 1px solid white;
}

.dropdown__content p {
  color: #fff;
  margin: 0 0 1rem;
}

.dropdown__content img {
  max-width: 30%;
  height: auto;
  display: block;
  margin-right: 1rem;
  float: left;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.catalog {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.catalog__title {
  font-size: 3rem;
  text-align: center;
  color: #ffffff;
  margin-top: 1rem;
}

.catalog__image-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10rem;
  margin-top: 10rem;
}

.image {
  border: 2px solid #00ff00;
  padding: 3rem;
  text-align: center;
  max-width: 250px;
  border-radius: 20px;
  background-color: rgb(124, 56, 32);
  box-shadow: 10px 5px 20px rgb(44, 10, 10);
}

.image__img {
  max-width: 100%;
}

.image__title {
  color: #fff;
}

.image__description {
  color: #fff;
  text-align: justify;
}

.image__favorite-icon {
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}