body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(/img/Fondo2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #555;
  user-select: none;
}

.header {
  background-color: #995832;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.header__left {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__title {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 2rem;
}

.header__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-item {
  margin-right: 2rem;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.header__search-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  border-radius: 50px;
}

.header__search-button {
  background-color: #380909;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #944403;
  min-width: 500px;
  padding: 3rem;
  z-index: 1;
  margin-top: 1.8rem;
  border: 1px solid white;
}

.dropdown__content p {
  color: #fff;
  margin: 0 0 1rem;
}

.dropdown__content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: 1rem;
  float: left;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.header-center {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.header-center input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  border-radius: 50px;
}

.header-center button[type="submit"] {
  background-color: #380909;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 1rem;
}

.header-center input[type="text"]:focus {
  border-color: #00ff00;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.main {
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
  background-color: #f3e0c1;
  border: 2px solid #d9c5a7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
}

.main__title {
  position: relative;
  text-align: center;
  color: #5d4617;
  margin-bottom: 2rem;
}

.main__title::after {
  content: "";
  display: block;
  width: 500px;
  height: 5px;
  background-color: #088308;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.main__form-group {
  margin-bottom: 2rem;
  background-color: #dbc3a2;
  border: 2px solid #d9c5a7;
  border-radius: 5px;
  padding: 1rem;
  margin-left: -1rem;
}

.main__label {
  display: block;
  margin-bottom: 1rem;
  color: #5d4617;
}

.main__input[type="text"],
.main__input[type="email"],
.main__textarea {
  width: 90%;
  padding: 1rem;
  border: none;
  background-color: #f5f2e7;
  color: #333;
  border-radius: 5px;
  margin-left: 1rem;
}

.main__textarea {
  resize: vertical;
}

.main__corner-image {
  position: absolute;
}

.main__corner-image .main__image {
  position: absolute;
  width: 150px;
}

.main__corner-image--top-left {
  top: 100px;
  left: 500px;
}

.main__corner-image--top-left .main__image {
  width: 150px;
}

.main__corner-image--top-right {
  top: 700px;
  left: 1100px;
  width: 200px;
}

.main__corner-image--top-right .main__image {
  width: 300px;
}

.main__contact-text {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #5d4617;
}

.main__contact-text p {
  margin: 5px 0;
}

.main__contact-text a {
  color: #00ff00;
  text-decoration: none;
}

.main__contact-text a:hover {
  text-decoration: underline;
}
