body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url(/img/Fondo.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #555;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin-bottom: 3rem;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  margin-bottom: -1rem;
  margin-left: 0.5rem;
}

.register-box {
  background-color: white;
  border-radius: 8px;
  padding: 3rem;
  box-shadow: 0 40px 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-box__title {
  margin-bottom: 2rem;
}

.input-container {
  margin-bottom: 1rem;
  text-align: left;
}

.input-container__label {
  display: block;
  margin-bottom: 0.2rem;
}

.input-container__input,
.input-container__select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #eeeeee;
}

.button-container {
  margin-top: 1rem;
}

.social-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.social-button.google {
  color: #d10202;
}

.social-button.facebook {
  color: #ffffff;
  background-color: #1877f2;
}

.social-button.apple {
  color: #ffffff;
  background-color: #000;
}

.create-account-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
}

.create-account-button:hover {
  background-color: #45a049;
}

.button-container__already-account,
.button-container__need-help {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.button-container__already-account:hover,
.button-container__need-help:hover {
  text-decoration: underline;
}

#genre {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #eeeeee;
  color: #333;
}

#genre:focus {
  border-color: #007bff;
  outline: none;
}

.input-container__input,
.input-container__select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #eeeeee;
  color: #333;
}

.create-account-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
}

.create-account-button:hover {
  background-color: #45a049;
}

.button-container__already-account,
.button-container__need-help {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.button-container__already-account:hover,
.button-container__need-help:hover {
  text-decoration: underline;
}

#genre {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #eeeeee;
  color: #333;
}

#genre:focus {
  border-color: #007bff;
  outline: none;
}
