body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  background-color: rgb(119, 67, 49);
  color: white;
}

.header {
  background-color: #995832;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
}

.header__left {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__title {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 1rem;
  margin-left: 2rem;
}

.header__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__nav-item {
  margin-right: 2rem;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header__search {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.header__search-input {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  border-radius: 50px;
}

.header__search-button {
  background-color: #380909;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-left: 1rem;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #944403;
  min-width: 500px;
  padding: 3rem;
  z-index: 1;
  margin-top: 1.8rem;
  border: 1px solid white;
}

.dropdown__content p {
  color: #fff;
  margin: 0 0 1rem;
}

.dropdown__content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: 1rem;
  float: left;
}

.dropdown:hover .dropdown__content {
  display: block;
}

.header-center {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 5rem;
}

.header-center input[type="text"] {
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  border-radius: 50px;
}

.header-center button[type="submit"] {
  background-color: #380909;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 1rem;
}
.main {
  max-width: 800px;
  margin: 2rem auto;
  background-color: #fff;
  padding: 2rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.main__profile {
  margin-bottom: 1.5rem;
  padding: 2rem;
  border: 1px solid #d3b8ae;
  background-color: #f0e3dd;
}

.main__title {
  font-weight: bold;
}

.main__form-group {
  margin-bottom: 1rem;
}

.main__label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.main__input[type="password"] {
  width: 95%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.main__button {
  background-color: #6a4c3b;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.main__logout .main__link {
  color: #6a4c3b;
  text-decoration: none;
}

.main__logout .main__link:hover {
  text-decoration: underline;
}

.main__favorite-images {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.main__favorite-images .main__image {
  width: 235px;
  margin-right: 1rem;
}

.main__corner-image {
  position: absolute;
}

.main__corner-image .main__image {
  position: absolute;
  width: 150px;
}

.main__corner-image--top-left {
  top: 950px;
  left: 50px;
}

.main__corner-image--top-left .main__image {
  width: 450px;
}

.main__corner-image--top-right {
  top: 100px;
  left: 1350px;
  width: 200px;
}

.main__corner-image--top-right .main__image {
  width: 550px;
}
